<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${bugs.isEmpty()}">
        <td colspan="3">No bugs found</td>
    </tr>
    <tr th:each="bug : ${bugs}">
        <td><span th:text="${bug.id}">Id</span></td>
        <td><span th:text="${bug.title}">Title</span></td>
        <td><span th:text="${bug.description}">Description</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
