<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Deletion</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="bug-container">
    <form th:action="@{/bugdetails/delete}" method="post">
        <input type="hidden" name="id" th:value="${bugdetail.id()}"/>
        <header class="bug-header">
            <div class="bug-titlerow-withspace">
                <p class="big-title" th:text="|Confirm Closure: ${bugdetail.title()}|"></p>
                <p class="big-title" th:text="|#${bugdetail.id()}|"></p>
            </div>
        </header>

        <div class="bug-box-delete">
            <h3>Are you sure?</h3>
            <p>Do you really want to mark this bug as fixed and remove it from the tracker?</p>
            <p>This action cannot be undone.</p>
        </div>

        <footer class="bug-footer">
            <div class="bug-footer-button">
                <button type="reset" th:onclick="location.href='/'">Cancel</button>
                <button type="submit" class="btn-danger">
                    Yes, mark as fixed and delete
                </button>
            </div>
        </footer>
    </form>
</div>
</body>
</html>
