<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bug Report</title>
</head>
<body>
    <nav>GoElseWhere</nav>
    <h1>Create a bug report</h1>
<form th:action="@{/reports/add}" th:object="${bugForm}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title"></br>
    <label for="descr">Description</label>
    <input type="text" th:field="*{description}" id="descr"></br>
    <label for="priority">Priority</label>
    <input type="text" th:field="*{priority}" id="priority"></br>
<!--    TODO make a drop down list of enums instead.-->
    <button type="submit">Save</button>
</form>
</body>
</html>
