<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bug Report</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/reports/add}" th:object="${bugForm}" method="post">
    <div class="bug-container">
        <header class="bug-header">
            <label for="title">Title</label>
            <input th:text="text" th:field="*{title}" id="title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>
            </input>
        </header>
        <nav class="bug-nav">

            <div class="bug-nav-button">
                <button th:onclick="location.href='/'">Homescreen</button>
                <button th:onclick="location.href='/reports/add'">Report new Bug</button>
            </div>
        </nav>
        <div class="bug-box">
            <h3>Description</h3>
            <input type="text" th:field="*{description}">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></span>
            <div class="description-box-footer">
                <div class="description-data-boxes">
                    <span class="tiny-title">Reported at</span>
                </div>
                <div class="description-data-boxes">
                    <span class="tiny-title">Bug origin</span>
                    <select th:field="*{development}">
                        <option th:each="area : ${T(org.example.bugtrackerlabjuv25g.Development).values()}"
                                th:value="${area}" th:text="${area}"></option>
                    </select>
                </div>
                <div class="description-data-boxes">
                    <span class="tiny-title">Priority</span>
                    <select th:field="*{priority}">
                        <option th:each="priority : ${T(org.example.bugtrackerlabjuv25g.Priority).values()}"
                                th:value="${priority}" th:text="${priority}"></option>
                    </select>
                </div>
            </div>
        </div>
        <footer class="bug-footer">
            <div class="bug-footer-button">
                <button type="submit">Save</button>
            </div>
        </footer>
    </div>
</form>
</body>

</html>
