<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>result form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="bug-container">
    <header class="bug-header">
        <div class="bug-titlerow-withspace">
            <p class="big-title" th:text="${bugdetail.title()}"></p>
            <p class="big-title" th:text="|#${bugdetail.id()}|"></p>
        </div>
    </header>
    <nav class="bug-nav">

        <div class="bug-nav-button">
            <button th:onclick="location.href='/'">Homescreen</button>
            <button th:onclick="location.href='/reports/add'">Report new Bug</button>
        </div>
    </nav>
    <div class="bug-box">
        <h3>Description</h3>
        <p class="description-input" th:text="${bugdetail.description()}"></p>
        <div class="description-box-footer">
            <div class="description-data-boxes">
                <span class="tiny-title">Reported at</span>
                <span th:text="${bugdetail.bugDate()}"></span>
            </div>
            <div class="description-data-boxes">
                <span class="tiny-title">Bug origin</span>
                <span th:text="${bugdetail.development()}"></span>
            </div>
            <div class="description-data-boxes">
                <span class="tiny-title">Priority</span>
                <span th:text="${bugdetail.priority()}"></span>
            </div>
        </div>
    </div>
    <footer class="bug-footer">
        <div class="bug-footer-button">
            <button th:onclick="|location.href='/bugdetails/edit?id=' + ${bugdetail.id()}|">Edit report</button>
            <button th:onclick="|location.href='/bugdetails/delete/confirm?id=' + ${bugdetail.id()}|">Close bug / report
                as fixed
            </button>
        </div>
    </footer>
</div>
</body>
</html>
