<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>result form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="bug-container">
    <header class="bug-header">
        <h2 th:text="${bugdetail.title()}"></h2>
        <h2 th:text="|#${bugdetail.id()}|"></h2>
    </header>
    <nav class="bug-nav">
        <span th:text="|Priority: ${bugdetail.priority()}|"></span>
        <div class="bug-nav-button">
        <button disabled th:onclick="">Edit knapp</button>
        <button th:onclick="location.href='/reports/add'">New Bug</button>
        </div>
    </nav>
    <div class="bug-box">
        <h3>Description</h3>
        <p th:text="${bugdetail.description()}"></p>
    </div>
    <footer class="bug-footer">
        <div class="dev-area">
            <span>Bug origin:</span>
            <span th:text="${bugdetail.development()}"></span>
        </div>
        <div class="bug-footer-button">
        <button th:onclick="location.href='/'">Homescreen</button>
        <button type="button">Close bug / report as fixed</button>
        </div>
    </footer>
</div>
</body>
</html>
